.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
    max-height: 80rem !important;
    height: 80% !important;
}

img {
    display: block;
    border: 5px solid #555;
    margin: 10px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}